<div class="menu">
  <a href='<%= admin_root_path %>'>news</a>
  <a href='<%= admin_clients_path %>'>clients</a>
  <a href='<%= admin_abouts_path %>'>about</a>
  <a href='<%= admin_contacts_path %>'>contact</a>
  <%= link_to 'logout', '/logout' %>
</div>
