<div class="menu">
  <a href='<%= root_path %>'>news</a>
  <a href='<%= clients_path %>'>clients</a>
  <a href='<%= abouts_path %>'>about</a>
  <a href='<%= new_contact_path %>'>contact</a>
  <%= link_to 'login', '/login' %>
</div>
